## Go Pokemon

- Introduction of the data

In [28]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import patsy
import sklearn

In [29]:
Pokemon = pd.read_csv("./pokemon.csv")

Pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [30]:
Pokemon1 = pd.read_csv("./Pokemon1.csv")
Pokemon1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- We listed hypothesis for some questions floated in our mind...
1. What are the Pokemon stat differences/ trends from each generation? 

   Our hypothesis:

In [33]:
Pokemon1_generation = Pokemon1.set_index(["Generation","Type 1", "Type 2"])
Pokemon1_generation.head()

                          #                   Name  Total  HP  Attack  \
Generation Type 1 Type 2
1          Grass  Poison  1              Bulbasaur    318  45      49
                  Poison  2                Ivysaur    405  60      62
                  Poison  3               Venusaur    525  80      82
                  Poison  3  VenusaurMega Venusaur    625  80     100
           Fire   NaN     4             Charmander    309  39      52

                          Defense  Sp. Atk  Sp. Def  Speed  Legendary
Generation Type 1 Type 2
1          Grass  Poison       49       65       65     45      False
                  Poison       63       80       80     60      False
                  Poison       83      100      100     80      False
                  Poison      123      122      120     80      False
           Fire   NaN          43       60       50     65      False

In [35]:
Pokemon1_generation.drop(['#', 'Legendary'], axis=1)

                                            Name  Total  HP  Attack  Defense  \
Generation Type 1  Type 2
1          Grass   Poison              Bulbasaur    318  45      49       49
                   Poison                Ivysaur    405  60      62       63
                   Poison               Venusaur    525  80      82       83
                   Poison  VenusaurMega Venusaur    625  80     100      123
           Fire    NaN                Charmander    309  39      52       43
...                                          ...    ...  ..     ...      ...
6          Rock    Fairy                 Diancie    600  50     100      150
                   Fairy     DiancieMega Diancie    700  50     160      110
           Psychic Ghost     HoopaHoopa Confined    600  80     110       60
                   Dark       HoopaHoopa Unbound    680  80     160       60
           Fire    Water               Volcanion    600  80     110      120

                           Sp. Atk  Sp. Def  Speed
Generation Type 1  Type 2
1          Grass   Poison       65       65     45
                   Poison       80       80     60
                   Poison      100      100     80
                   Poison      122      120     80
           Fire    NaN          60       50     65
...                            ...      ...    ...
6          Rock    Fairy       100      150     50
                   Fairy       160      110    110
           Psychic Ghost       150      130     70
                   Dark        170      130     80
           Fire    Water       130       90     70

[800 rows x 8 columns]